#signup-form{
   
    width: 500px;
    margin: auto;
}

#btn1{
    width: 49%;
}

#btn2{
    width: 50%;
}

#login-form{
    
    width: 500px;
    margin: auto;  
}

#signup-btn{
    width: 50%;  
}
#login-btn{
    width: 49%;  
}


#admin{
    
    margin-left: 5%;
    margin-right: 5%;
}

#adminid{
    float:right
}

.form-control{
    width: 40%;
}

.close {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  margin-left: 90%;
  
  color: red;
}

.p3 {
    position: relative;
    margin-left: 30%;
    margin-bottom: 10;

}

